#contenedor {
  margin: 0.5em auto;
  padding: 0.5em;
  position: relative;
}

.td1 {
  width: 530px;
  height: 620px;
  background-color: aquamarine;
  border: 1px solid black;
}

.td2 {
  width: 530px;
  height: 620px;
  background-color: rgb(199, 126, 154);
  border: 1px solid black;
}

.titulo {
  font-size: 27px;
  color: black;
  text-align: center;
  text-decoration: underline;
  border-bottom: 40px;
}

.parrafo {
  font-size: 14px;
  color: black;
  margin-left: 50px;
}

.li {
  font-size: 14px;
  color: black;
  margin-left: 24px;
}

.calc {
  width: 370px;
  height: 480px;
  background-color: rgb(213,213,213);
  border: 1px solid black;
  position: relative;
  left: 75px;
  top: 0%;
  border: 2px solid black;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}

.visor{
  width: 320px;
  height: 110px;
  background-color: rgb(206, 192, 192);
  border: 1px solid black;
  position: relative;
  left: 23px;
  top: 8%;
  border: 2px solid black;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
}

.boton-7{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 33px;
  top: 14%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-7{
  color: white;
  font-size: 47px;
  position: relative;
  left: 13px;
  top: 0%;
}

.boton-4{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 33px;
  top: 19%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-4{
  color: white;
  font-size: 47px;
  position: relative;
  left: 13px;
  top: 0%;
}

.boton-1{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 33px;
  top: 23%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-1{
  color: white;
  font-size: 47px;
  position: relative;
  left: 13px;
  top: 0%;
}


.boton-0{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 33px;
  top: 27%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-0{
  color: white;
  font-size: 47px;
  position: relative;
  left: 13px;
  top: 0%;
}

.boton-8{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 110px;
  top: -31%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-8{
  color: white;
  font-size: 47px;
  position: relative;
  left: 125px;
  top: -42.5%;
}

.boton-5{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 110px;
  top: -37.3%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-5{
  color: white;
  font-size: 47px;
  position: relative;
  left: 126px;
  top: -48.5%;
}

.boton-2{
  width: 50px;
  height: 50px;
  background-color: rgb(56, 36, 170);
  border: 1px solid black;
  position: relative;
  left: 110px;
  top: -44.5%;
  border: 2px solid black;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
}

.pos-2{
  color: white;
  font-size: 47px;
  position: relative;
  left: 126px;
  top: -55.5%;
}